.gris-b {
    color: #9e9e9e;
    margin-top: 5px;
    font-weight: 700;
}
.gris-c {
    color: #b5b5b5;
}
.white {
    color: white;
}
.border-r{
    border-right: 2px solid black;
}
.f-12 {
    font-size: 12px;
}
.f-11 {
    font-size: 11px;
}
.mt-20{
    margin-top: 20px;
}
.mt-15{
    margin-top: 15px;
}
/*header*/
.nav a {
	color: #000000;
	padding: 4px 16px !important;
    font-size: 18px;
}
.btn-gris {
	color: #000000;
    background-color: #e6e6e6;
    border-color: #000000;
}
.btn-borderblack {
	display: inline-block;
    width: auto;
    vertical-align: middle;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #d6d6d6;
    background-color: #fff;
    background-image: none;
    border: 1px solid #000000;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.b-right {
	border-right: 3px solid black;
}
.nav li{
	padding: 15px 0;
}
.enlaces {
	margin-top: 13px;
}
/*menu*/
.gris {
    background-color: #d4d4d4;
    padding-top: 40px; 
}
.menu li {
    margin-bottom: -16px;
    padding: 15px;
}
/*principal*/
h4 {
    color: white;
    background-color: #919191;
    padding: 10px 5px;
}
.principal a:first-child{
    color: black;
}
.fin {
    border-bottom: 1px solid #d4d4d4;
}
.principal {
    margin-top: 20px;
    margin-left: -25px;
    border-bottom: 5px solid #403F3F;
}
.etiquetas a{
    text-decoration: underline;
    color:  #9e9e9e;
    font-weight: 700;
}
#black {
    background-color: black;
    color: white;
    text-align: center;
}
#webzone {
    margin-top: 5px;
    font-size: 12px;
}
.image p{
    height: 150px;
    background-color: #9e9e9e;
    text-align: center;
    padding-top: 50px;
}
.video iframe{
    margin-left: 40px;
}
.video{
    background-color: #d4d4d4;
}
.video h4{
    margin-top: 0px;
}
.video p{
    margin: 15px 0 15px 15px;
}
.video h5{
    margin-left: 15px;
}
.calendario h4{
    margin-left: -10px;
}
.dia p{
    text-align: center;
    font-weight: 700;
}
.dia {
    background-color: #9e9e9e;
}
.dia p:first-child{
    margin-top: 5px;
}
.informacion h5{
    margin: 2px 0;
}
.informacion p {
    margin-bottom: 1px;
}
.pb-5{
    padding-bottom: 5px;
}
.t-black{
    font-size: 18px;
    font-weight: 700;
}
.t-deco{
    text-decoration: underline;
    color: #9e9e9e;
    font-weight: 700;
    margin-top: 10px;
}
.m-0{
    margin-top: -6px;
    margin-bottom: 0px;
}
.enlaces-2 ul{
    text-decoration: none;
    list-style: none;
}
.enlaces-2 a{
    font-weight: 700;
}
.magazine{
    background-color: #ebebeb;
    margin-left: 1px;
    margin-top: 10px;
}
.magazine h4{
    color: black;
    background-color: #ebebeb;
    margin-top: 0px;
    margin-left: -5px;
}
.magazine h4:first-child {
    margin-bottom: -18px;
}
.sub-t{
    margin-bottom: 0px;
}
.three p{
    margin-top: 7px;
}
footer{
    font-weight: 700;
    font-size: 14px;
    margin-top: 15px;
}
footer ul{
    list-style: none;
    margin-left: -60px;
}
footer a{
    color: black;
}
footer p{
    margin-left: -20px;
}
.m-l{
    margin-left: 45px;
}